<launch>

  <!-- Human interface -->
  <!-- =============== -->

  <!-- Keyboard driver -->
  <node pkg="keyboard" name="keyboard" type="keyboard"/>

  <!-- Map keyboard to sensor_msgs/Joy messages -->
  <node pkg="operator_node" name="keyboard_to_joy" type="keyboard_to_joy.py">
    <rosparam param="config" file="$(find rpbi_examples)/configs/lfd/keyboard_to_joy.yaml"/>
  </node>

  <!-- Map raw keyboard commands (sensor_msgs/Joy messages) to operator signal -->
  <node pkg="operator_node" name="keyboard_scale" type="isometric_node.py">
    <rosparam param="config" file="$(find rpbi_examples)/configs/lfd/keyboard_scale.yaml"/>
    <param name="start_on_init" type="bool" value="true"/>
  </node>

  <!-- Teleoperation -->
  <!-- ============= -->

  <!-- Specify origin for IK target-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="teleop_origin_broadcaster" args="-0.537, 0.029, 0.404 1.000, -0.024, 0.001, -0.017 rpbi/kuka_lwr/base teleop_origin"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="teleop_origin_broadcaster_target" args="0 0 0 0 0 0 teleop_target figure_eight"/>

  <!-- Teleop transform -->
  <node pkg="teleop" type="teleop_tf_node.py" name="teleop_tf" output="screen">
    <rosparam param="config" file="$(find rpbi_examples)/configs/lfd/teleop.yaml"/>
    <param name="start_on_init" type="bool" value="true"/>
  </node>

</launch>
